.form_sketch {
  border-color: transparent;
  background-color: transparent;
}
#base {
  z-index: 1;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#u116 {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 1300px;
  width: 100%;
  height: 57px;
  display: flex;
}
#u122_img {
  border-width: 0px;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 842px;
  height: 5px;
}
#u122 {
  border-width: 0px;
  position: absolute;
  left: 100px;
  top: 773px;
  width: 839px;
  height: 2px;
  display: flex;
  -webkit-transform: rotate(89.79956023deg);
  -moz-transform: rotate(89.79956023deg);
  -ms-transform: rotate(89.79956023deg);
  transform: rotate(89.79956023deg);
}
#u122 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u122_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
