.form_sketch {
  border-color: transparent;
  background-color: transparent;
}
#base {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#u242 {
  // border-width: 0px;
  // position: absolute;
  // left: 0px;
  // top: 1300px;
  width: 100%;
  height: 57px;
  display: flex;
}

#u247_img {
  border-width: 0px;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 720px;
  height: 5px;
}
#u247 {
  position: absolute;
  left: 455px;
  top: 90px;
  width: 120px;
  // height: 2px;
  // display: flex;
  -webkit-transform: rotate(90.0565971988972deg);
  -moz-transform: rotate(90.0565971988972deg);
  -ms-transform: rotate(90.0565971988972deg);
  transform: rotate(90.0565971988972deg);
}
#u247 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u247_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}

.text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  .con_left {
    float: left;
    text-align: left;
  }
  .con_right {
    float: right;
    text-align: right;
  }
}
