
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position: absolute;
  z-index: 1;
  position: relative;
  width:1109px;
  margin-left:auto;
  margin-right:auto;
}

#u115 {
  border-width:0px;
  overflow: hidden;
  position: relative;
  background-color: #c41909;
  left:0px;
  top:0px;
  width:1109px;
  height:96px;
  display:flex;
}


// #u115 .text {
//   position:absolute;
//   align-self:center;
//   padding:2px 2px 2px 2px;
//   box-sizing:border-box;
//   width:100%;
// }
// #u115_text {
//   border-width:0px;
//   word-wrap:break-word;
//   text-transform:none;
//   visibility:hidden;
// }
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:57px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1100px;
  width:1109px;
  height:57px;
  display:flex;
  .u116_bg{
    width: 100%;
    height: 3px;
    background-color: #ebc1a3;
    z-index: 1;
  }
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116 .u116_con {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1109px;
  height: 57px;
  background-color: #f1f1f1;
  display:flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around;
  a{
    color: #000000;
    font-size: 13px;
    text-decoration: none;
  }
}
#u116 .u116_con ul{
  margin-top: 25px;
}
#u116 .u116_con li{
  float: left;
  margin-right: 15px;
}

#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  text-align: center;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u117 {
  border-width:0px;
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -64px;
  margin-top: -13px;
  width:128px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u117 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:55px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.607843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  color:#FFFFFF;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:154px;
  width:232px;
  height:55px;
  display:flex;
  font-size:23px;
  color:#FFFFFF;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:55px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:262px;
  width:232px;
  height:55px;
  display:flex;
  font-size:23px;
  color:#000000;
  text-align: center;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:55px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  color:#FFFFFF;
  text-align: center;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:208px;
  width:232px;
  height:55px;
  display:flex;
  font-size:23px;
  color:#FFFFFF;
  text-align: center;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:55px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:316px;
  width:232px;
  height:55px;
  display:flex;
  font-size:23px;
  color:#000000;
  text-align: center;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:842px;
  height:5px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:573px;
  width:839px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(89.7995602304565deg);
  -moz-transform:rotate(89.7995602304565deg);
  -ms-transform:rotate(89.7995602304565deg);
  transform:rotate(89.7995602304565deg);
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:160px;
  width:472px;
  height:49px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:215px;
  width:472px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u124 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:252px;
  width:684px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
.text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
  overflow: hidden;
  .con_left{
    float: left;
    text-align: left;
  }
  .con_right{
    float: right;
    text-align: right;
  }
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:289px;
  width:684px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:324px;
  width:684px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u127 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:377px;
  width:382px;
  height:49px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u128 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:568px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:426px;
  width:717px;
  height:568px;
  display:flex;
  justify-content: space-around;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
