.form_sketch {
  border-color: transparent;
  background-color: transparent;
}
#base {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#u58_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1101px;
  height: 57px;
}
#u58 {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 1200px;
  width: 100%;
  height: 57px;
  display: flex;
}

#u67_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 132px;
  height: 172px;
}
#u67 {
  border-width: 0px;
  position: absolute;
  left: 685px;
  top: 360px;
  width: 132px;
  height: 172px;
  display: flex;
}
#u67 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u67_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}

#u68 {
  border-width: 0px;
  position: absolute;
  left: 842px;
  top: 360px;
  width: 276px;
  height: 41px;
  display: flex;
  font-size: 16px;
  color: #d9001b;
}

#u69 {
  border-width: 0px;
  position: absolute;
  left: 842px;
  top: 446px;
  width: 276px;
  height: 41px;
  display: flex;
  font-size: 16px;
  color: #d9001b;
}

#u73 {
  border-width: 0px;
  position: absolute;
  left: 842px;
  top: 405px;
  width: 276px;
  height: 41px;
  display: flex;
  font-size: 16px;
  color: #d9001b;
}

#u74 {
  border-width: 0px;
  position: absolute;
  left: 685px;
  top: 545px;
  width: 186px;
  height: 41px;
  display: flex;
  font-size: 25px;
  color: #d9001b;
}

#u75_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 688px;
  height: 17px;
}
#u75 {
  border-width: 0px;
  position: absolute;
  left: 670px;
  top: 586px;
  width: 678px;
  height: 17px;
  display: flex;
}
#u75 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u75_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u76_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 652px;
  height: 322px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#u76 {
  border-width: 0px;
  position: absolute;
  left: 685px;
  top: 605px;
  width: 652px;
  height: 22px;
  display: flex;
}
#u76_div p {
  text-align: left;
  padding: 5px;
  line-height: 20px;
  white-space: normal;
  word-break: break-word;
  font-size: 14px;
}

#u247_img {
  border-width: 0px;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 720px;
  height: 5px;
}
#u247 {
  border-width: 0px;
  position: absolute;
  left: 235px;
  top: 720px;
  width: 720px;
  height: 2px;
  display: flex;
  -webkit-transform: rotate(90.0565971988972deg);
  -moz-transform: rotate(90.0565971988972deg);
  -ms-transform: rotate(90.0565971988972deg);
  transform: rotate(90.0565971988972deg);
}
#u247 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u247_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
