.form_sketch {
  border-color: transparent;
  background-color: transparent;
}
#base {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#u78 {
  position: relative;
  /* left: 0px; */
  /* top: 1800px; */
  /* width: 100%; */
  height: 57px;
  display: flex;
}

#u80 {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  font-family: "Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #7f7f7f;
}
#u80 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u80_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

#u80_text p span {
  margin-left: 150px;
}
#u81_img {
  border-width: 0px;
  position: absolute;
  width: 1109px;
  height: 7px;
}
#u81 {
  /* position: absolute; */
  position: relative;
  left: 50%;
  top: 450px;
  top: 50px;
  margin-left: -550px;
  width: 1109px;
  height: 3px;
  display: flex;
  -webkit-transform: rotate(-0.172009240975219deg);
  -moz-transform: rotate(-0.172009240975219deg);
  -ms-transform: rotate(-0.172009240975219deg);
  transform: rotate(-0.172009240975219deg);
}

#u82_img {
  border-width: 0px;
  position: absolute;
  left: -2px;
  top: -2px;
  width: 1105px;
  height: 7px;
}
#u82 {
  /* border-width: 0px; */
  position: relative;
  left: 50%;
  margin-left: -550px;
  /* top: 1620px; */
  width: 1101px;
  height: 3px;
  display: flex;
  -webkit-transform: rotate(-0.172009240975219deg);
  -moz-transform: rotate(-0.172009240975219deg);
  -ms-transform: rotate(-0.172009240975219deg);
  transform: rotate(-0.172009240975219deg);
}

#u83 {
  border-width: 0px;
  position: absolute;
  left: 550px;
  top: 1650px;
  width: 280px;
  height: 49px;
  display: flex;
  font-family: "Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #7f7f7f;
}
#u83 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u83_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

#u84 {
  position: relative;
  left: 50%;
  margin-left: -550px;
  top: 85px;
  width: 1109px;
  /* height: 49px; */
  display: flex;
  font: 18px "微软雅黑";
  color: #292929;
}
#u84 p {
  text-indent: 2em;
  margin-bottom: 20px;
  line-height: 30px;
}
#u84 .text {
  position: absolute;
  align-self: flex-start;
  text-align: left;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u84_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

.bottom20 {
  margin-bottom: 20px;
}
