ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.form_sketch {
  border-color: transparent;
  background-color: transparent;
}
#home {
  position: relative;
  width: 100%;
  height: 2200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(~@/assets/images/首页/bg2.jpg);
  background-size: 100% 2200px;
}
#u0_img {
  border-width: 0px;
  height: 310px;
}
#u0 {
  border-width: 0px;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}
#u0 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u0_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u1_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
}
#u1 {
  border-width: 0px;
  position: relative;
  left: 50%;
  margin-left: -551px;
  top: 215px;
  width: 1105px;
  height: 40px;
  display: flex;
}
#u1 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u1_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u2_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1109px;
  height: 314px;
}
#u2 {
  border-width: 0px;
  position: relative;
  left: 0px;
  top: 160px;
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: space-evenly;
}
#u2 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u2_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u3_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 635px;
  height: 215px;
}
#u3 {
  border-width: 0px;
  /* position:absolute;
  left:0px;
  top:0px; */
  background-color: #c8161d;
  width: 100%;
  height: 300px;
  display: flex;
  background-image: url(~@/assets/images/首页/head.png);
  background-size: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

#u3 .u3_con {
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  .con_right {
    padding-bottom: 50px;
    padding-right: 60px;
  }
}

#u6_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 223px;
  height: 38px;
  background: inherit;
  background-color: rgba(217, 0, 27, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 15px;
  color: #ffffff;
}

#u11 {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 2244px;
  width: 100%;
  height: 57px;
  display: flex;
}

#u24_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70px;
}
#u24 {
  border-width: 0px;
  position: relative;
  left: 50%;
  top: 35px;
  margin-left: -553px;
  width: 1105px;
  // height: 53px;
  display: flex;
}
#u24 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u24_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u25_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 38px;
}
#u25 {
  border-width: 0px;
  position: absolute;
  left: 50%;
  margin-left: -498px;
  top: 820px;
  width: 70%;
  // height: 38px;
  display: flex;
}
#u25 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u25_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u26_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: -3px;
  width: 160%;
  height: 38px;
}
#u26 {
  border-width: 0px;
  position: absolute;
  left: 197px;
  top: 823px;
  width: 80px;
  height: 35px;
  display: flex;
}
#u26 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u26_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u27_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 380px;
  height: 25px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}
#u27 {
  border-width: 0px;
  position: absolute;
  left: 220px;
  top: 828px;
  width: 80px;
  height: 25px;
  display: flex;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}
#u27 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u27_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}
#u28_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 87px;
  height: 25px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #555555;
}
#u28 {
  border-width: 0px;
  position: absolute;
  left: 450px;
  top: 828px;
  width: 87px;
  height: 25px;
  display: flex;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #555555;
}
#u28 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u28_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}
#u29_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 87px;
  height: 25px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #555555;
}
#u29 {
  border-width: 0px;
  position: absolute;
  left: 650px;
  top: 829px;
  width: 87px;
  height: 25px;
  display: flex;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #555555;
}
#u29 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u29_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}
#u30_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 87px;
  height: 8px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #555555;
}
#u30 {
  border-width: 0px;
  position: absolute;
  left: 850px;
  top: 829px;
  width: 87px;
  height: 8px;
  display: flex;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #555555;
}
#u30 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u30_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}
#u31_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 87px;
  height: 25px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #555555;
}
#u31 {
  border-width: 0px;
  position: absolute;
  left: 1050px;
  top: 829px;
  width: 87px;
  height: 25px;
  display: flex;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #555555;
}
#u31 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u31_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

#u33_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70px;
}
#u33 {
  border-width: 0px;
  position: relative;
  left: 50%;
  top: 168px;
  margin-left: -551px;
  width: 1105px;
  display: flex;
}
#u33 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u33_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u34_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 371px;
  height: 25px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "宋体 Bold", "宋体 常规", "宋体", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #ffe820;
}
#u34 {
  border-width: 0px;
  position: relative;
  left: 0px;
  top: 183px;
  width: 100%;
  // height: 25px;
  display: flex;
  font-family: "宋体 Bold", "宋体 常规", "宋体", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #ffe820;
}
#u34 .text {
  /* position:absolute; */
  text-align: center;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u34_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}
#u35_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 160%;
  height: 37px;
}
#u35 {
  border-width: 0px;
  position: relative;
  left: 200px;
  top: 176px;
  width: 60px;
  height: 37px;
  display: flex;
}
#u35 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u35_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u36_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 380px;
  height: 25px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}
#u36 {
  border-width: 0px;
  position: relative;
  left: 199px;
  top: 148px;
  width: 108px;
  height: 25px;
  display: flex;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}
#u36 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u36_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

#u37 {
  border-width: 0px;
  position: relative;
  left: 0px;
  top: 156px;
  width: 100%;
  // height: 247px;
  display: flex;
  justify-content: space-evenly;
}
#u37 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u37_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u38_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
}
#u38 {
  position: relative;
  left: 50%;
  margin-left: -552px;
  top: 175px;
  width: 1105px;
  height: 40px;
  display: flex;
}
#u38 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u38_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u39_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 160%;
  height: 37px;
}
#u39 {
  position: relative;
  left: 200px;
  top: 136px;
  width: 60px;
  height: 37px;
  display: flex;
}
#u39 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u39_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u40_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 380px;
  height: 25px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}
#u40 {
  position: relative;
  left: 200px;
  top: 108px;
  width: 106px;
  height: 25px;
  display: flex;
  font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}
#u40 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u40_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

#u41 {
  border-width: 0px;
  position: relative;
  left: 0px;
  top: 115px;
  width: 100%;
  // height: 247px;
  display: flex;
  justify-content: space-evenly;
}
#u41 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u41_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u42_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70px;
}
#u42 {
  position: relative;
  left: 50%;
  margin-left: -552px;
  top: 166px;
  width: 1105px;
  height: 53px;
  display: flex;
}
#u42 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u42_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u43_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 413px;
  height: 25px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "宋体 Bold", "宋体 常规", "宋体", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #ffe820;
}
#u43 {
  border-width: 0px;
  position: relative;
  left: 0px;
  top: 128px;
  width: 100%;
  height: 25px;
  display: flex;
  font-family: "宋体 Bold", "宋体 常规", "宋体", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #ffe820;
}
#u43 .text {
  position: absolute;
  text-align: center;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u43_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}
